/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
 padding: 70px;
}

.content-mid-header {
  background: #444;
  height: 20%;
  width: auto;
}

.content-container {
  height: 100%;
  width: auto;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}

.content {
  background: #D8D8D8;
  padding: 120px;
  word-wrap: break-word;
}
