/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  /* alignment property */
  text-align: center;
  padding: 15px;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
   /*width*/
    width:49%;
    /*height*/
    height: 130px;
    /*display*/
    display:inline-block;
    background: #DED6D3;
    margin-bottom: 30px;
    margin-top:30px;
}


/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    /*width*/
    width: 100%;
    /*height*/
    height: 120px;
    /*margin*/
    margin: auto;
    margin:0 auto 30px;
    background: #DED6D3;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    /*width*/
    width: 100%;
    /*height*/
    height: 360px;
    /*margin*/
    margin: auto;
    background: #DED6D3;
}


